body {
  text-align: center;
  background-color: #f2f2f2;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 0;
  margin: 20px;
}

.product-single {
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  height: 250px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-single > img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 5px;
}
